.title-lp{
    font-weight: bold;
    color: #0e1111;
    font-size: 2rem;
}
a.btn {    
    background: #5086db;
    border-radius: 1.25rem;
    font-weight: 500; 
    border: 1px solid transparent;
    padding: .5rem 2rem;
    color: #fff; 
}
.background {
    width: fit-content;
    height: fit-content;
}
.text {
    border:none;
    background: none;
    outline: none;
    float: left;
    padding:0;
    color: rgb(34, 34, 34);
    font-size:16px;
    font-weight: 600;
    text-align: center;
    width: 460px;
    padding: 0 5px;

}
.search {
    width: 525px;
    height: 42px;
    border-radius: 40px;
    padding: 10px;
    background: #eaf0f5;
}

.btn-src{
    text-decoration: none;
    float: right;
    padding-right: 15px;
    color: #5086db; 
    float: left;
}

.w35{
    width: 35rem;
    border: none;
}
.bd-none{
    border: none;
    background: none;
}
.fw600{
    font-weight: 600;
}
.post-title{
    text-align: start;
}
.detail{
    float: left;
    color:#5086db ;
    font-weight: 600;
    cursor: pointer;
}

.ngb-pagination{
    float: right;
}
.card-footer{
    border: none;
    background: none;
}

