<div class="d-flex justify-content-center ">
    <div class="card text-center w35">
        <div class="card-header d-flex justify-content-center bd-none">
            <div class="search">
                <input type="text" name="" placeholder="search" class="text">
                <a href="#" class="btn-src" style="color: black;"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                        height="16" fill="currentColor" style="vertical-align: 0px;" class="bi bi-search"
                        viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></a>
            </div>
        </div>
        <div class="card-body">

            <ng-container *ngFor="let post of posts | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <div class="container p-2">
                    <div class="row">
                        <div class="col-md-3 fw600">
                            {{post.userName}}
                        </div>
                        <div class="col-md-9 post-title">
                            {{post.title}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-9 mt-2">
                            <div class="row">
                                <div class="col-md-2">
                                    <a href="#" onclick="return false;" class="btn-src"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                            height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />

                                        </svg><span class="pl-1">{{post.commentCount}}</span></a>
                                </div>
                                <div class="col-md-10">
                                    <a (click)="onDetail(post.postId,post.userName)" class="detail">Detail</a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </ng-container>
        </div>
        <div class="card-footer text-muted">
            <ngb-pagination class="ngb-pagination" [collectionSize]="posts.length" [(page)]="page" [maxSize]="5"
                [rotate]="true" [ellipses]="false"></ngb-pagination>

        </div>
    </div>