.title-lp{
    font-weight: bold;
    color: #0e1111;
    font-size: 2rem;
    padding :20px 100px
} 
.title-lp span{
    color:#5086db;
}
a {
    text-decoration:none;
 }
.post {
    padding :20px 100px;
}
.post a{
    padding :20px 80px;border-bottom-color: #5086db;
    border-bottom-style: solid;
    border-bottom-width: 3px;font-weight: bold;
    color: #acb9b9;
    font-size: 20px;
}