<nav id="navbar-example2" class="navbar navbar-light  ">
    <a class="title-lp" onclick="return false;" href="#">Cinta Coding</a>
    <div class="post">
        <a href="#" >POST</a>
    </div>
    <ul class="nav nav-pills">
        <a  [routerLink]="['/post/profile']" class="title-lp"  >Welcome, <span >{{name}}</span></a>
    </ul>
</nav>
<router-outlet></router-outlet>