<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form [formGroup]="myForm" class="box">
                    <h1>Login Page</h1>
                    <span *ngIf="password.hasError('mismatch')" class="err">Password do not match with username</span>
                    <input type="text" name="username" formControlName="username" placeholder="Username">
                    <input type="password" name="password" formControlName="password" placeholder="Password"  (change)="onPasswordChange()">
                    <a (click)="onLogin()" class="btn btn-primary">Login</a>
                </form>
            </div>
        </div>
    </div>
</div>