.card {
    margin-bottom: 20px;
    border: none
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
}

.box input[type="text"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 35px auto;
    text-align: center;
    border: 2px solid #5086db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    font-weight: 600;
    color: #0b0c0c;
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: #151816;
    font-weight: 700;
    font-size: 1.3rem;
    
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #151816
}

.box a {
    background: #5086db;
    border: 0;
    display: block;
    margin: 35px auto;
    text-align: center;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: white;
    font-weight: 600;
    border-radius: 24px;
    transition: 0.25s
}
.err{
    color: red;
}
