<div class="d-flex justify-content-center ">
    <div class="card text-center card-enh">
        <div class="card-header header-enh">
            <div class="row">
                <div class="col-md-3">
                    <a (click)="goHome();">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                        </svg>
                    </a>

                </div>
                <div class="col-md-9 ">
                </div>
            </div>
        </div>
        <div class="card-body" style="padding: 0;">


            <div class="container p-2">
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-9 text-md">
                        {{postVo.title}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 fw600">
                        {{username}}
                    </div>
                    <div class="col-md-9" style="text-align: start;">
                        {{postVo.body}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-9 mt-2">
                        <div class="row">
                            <div class="col-md-2">
                                <ng-container *ngIf="!showComment">
                                    <a (click)="showComment=!showComment;" class="btn-src">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                            fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                            <path
                                                d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z" />
                                        </svg><span class="pl-1">{{postComments.length}}</span></a>
                                </ng-container>
                            </div>
                            <div class="col-md-10">

                            </div>
                        </div>
                        <ng-container *ngIf="showComment">
                            <div class="row">
                                <div class="col-md-6">
                                    <a (click)="showComment=!showComment;" class="show-comment">All Comment</a>
                                </div>
                                <div class="col-md-6">

                                </div>
                            </div>

                            <app-post-content-comment *ngFor="let comment of postComments" [comment]="comment">
                            </app-post-content-comment>
                        </ng-container>
                    </div>
                </div>
            </div>


        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>