.title-lp{
    font-weight: bold;
    color: #0e1111;
    font-size: 2rem;
    padding :20px 100px
}
a {
    text-decoration:none;
 }
.nav-pil-ench{
    padding :20px 100px
}
a.btn {    
    background: #5086db;
    border-radius: 1.25rem;
    font-weight: 500; 
    border: 1px solid transparent; 
    padding: .5rem 2rem; 
    color: #fff; 
}
.bg{
    height: 44rem;
}