<nav id="navbar-example2" class="navbar navbar-light fixed ">
    <a class="title-lp" onclick="return false;" href="#">Cinta Coding</a>
    <ul class="nav nav-pills nav-pil-ench">
        <a [routerLink]="['/login']" class="btn">Login</a>
    </ul>
</nav>
<div class="d-flex justify-content-center">
    <img class="bg" src="../../assets/images/landing-page.jpg" style="height: 44rem;">
</div>