.card-enh{
    width: 35rem;
    border: none;    
}
.header-enh{
    border: none;
    background: none;
}
.profile-md{
    margin-bottom: 16px;
}
.text-md{
    text-align: start;
    font-weight: bold;
}