<div class="d-flex justify-content-center ">
    <div class="card text-center card-enh" >
        <div class="card-header header-enh" >
            <div class="row">
                <div class="col-md-3">
                    <a (click)="goHome();" >
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-arrow-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                        </svg>
                    </a>

                </div>
                <div class="col-md-9 ">
                </div>
            </div>
        </div>
        <div class="card-body">


            <div class="container p-2">
                <div class="row">
                    <div class="col-md-6 profile-md" >
                        Username:
                    </div>
                    <div class="col-md-6 text-md" >
                        {{profileJson.username}}
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 profile-md" >
                        Email :
                    </div>
                    <div class="col-md-6 text-md" >
                        {{profileJson.email}}
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 profile-md" >
                        Address:
                    </div>
                    <div class="col-md-6 text-md" >
                        {{profileJson.address}}
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 profile-md">
                        Phone:
                    </div>
                    <div class="col-md-6 text-md" >
                        {{profileJson.phone}}
                    </div>

                </div>

            </div>
        </div>
        <div class="card-footer text-muted" style="border: none;background: none;">
        </div>
    </div>
</div>