<div class="row mt-2">
    <div class="col-md-3" style="text-align: start;font-weight: 600;font-size: 1.0rem;">
        {{comment.email}}
    </div>
    <div class="col-md-9" style="text-align: start;">
        {{comment.body}}
    </div>
</div>